h1, h2, h3 {
    font-weight: 700;
    margin-top: 0px;
    font-family: 'Big Shoulders Display', cursive;
    color: $very_light_gray;
    text-transform: uppercase;
}

h1 {
    
    font-size: 2.25rem;
    margin-top: 30px;

}


p {
    color: $twhite;
    font-size: 0.9375rem ;
    line-height: 1.7;
    margin-top: 0;
}